@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap');

.header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
background: linear-gradient(
      rgba(5, 5, 5, 0.75),
      rgba(22, 22, 22, 0.75)
    ),
    url("../assets/bg-header2.jpg");  
  color: white;
  text-align: center;
  background-size: cover;

}

.header h1 {

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 30px;
  margin-top: 50px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;   
}



.header-buttons{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1rem;
    
}

.header-buttons a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    margin: 20px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.header .btn-resume{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.btn-resume {
    position: relative;
    font-size: large;
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.btn-resume::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;          
  width: 0;
  height: 3px;
  background: wheat;
  transition: width 0.4s ease;
}

.btn-resume:hover::after {
  width: 100%;
}



.header h4{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
    font-family: 'Times New Roman';
    font-size: 50px;
    font-style: normal;

}

.header p{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: normal;
}
